.App {
  text-align: center;
}
body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.index{
  position: absolute;
  left:75.5%;
  height:35px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.suggestion{
  cursor: pointer;
  background-color: white;
  border-right: 1px solid  #E6ECF0 ;
  border-left: 1px solid #E6ECF0;
  border-bottom: 1px solid  #E6ECF0;
  width: 100%;
  height: 40px;
}
.suggestion:hover{
  background-color:#e2e7eb;
}
.index2{
  border-radius: 25px;
}